<div class="h-[977px] hero">
  <div
    class="container flex flex-col-reverse lg:flex-row lg:justify-between justify-center gap-4 items-center h-full"
  >
    <div class="flex flex-col lg:flex-[1.5] lg:items-start items-center gap-[20px] text-center lg:text-left ">
      <h1 class="lg:text-[50px] text-[24px]">“O’ZBEKZARGARSANOATI”ga Xush kelibsiz!</h1>
      <p class="lg:text-[22px] text-[12px]">
        Litsenziya ma’lumotlarini tekshirish, tashkilotning barqarorlik
        reytingini va zargarlik mahsulotini ishlab chiqaruvchisini aniqlash va
        qimmatbaho metallardan yasalgan buyumlarni ishlab chiqarish yoki
        sotishga litsenziya olish uchun axborot tizimlari majmuasi
      </p>
      <button class="bg-linear-gold lg:w-auto w-full flex justify-center">
        <span class="text-white relative z-[3] flex items-center gap-[8px]">
          <mat-icon svgIcon="coming" class="text-white"></mat-icon>
          Tizimga kirish
        </span>
      </button>
    </div>
    <div class="lg:flex-1 flex w-[348px] flex-col justify-center lg:h-full lg:max-w-full ">
      <img
        src="/images/bijuteriya.png"
        class="max-w-[100%] self-center  justify-self-end"
        alt=""
      />
    </div>
  </div>
</div>
